.Pagination {
  display: flex;
  padding-left: 528px;
  padding-bottom: 50px;

  &__page {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: #2a2a42;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light);
    margin-right: 8px;
    &:last-of-type {
      margin-right: 0;
    }
    &_active {
      background: var(--text-light);
      color: var(--text-dark);
    }
  }
  &__arrow_active {
    color: white;
  }
}
