.Panel {
  display: flex;
  padding-left: 568px;
  padding-top: 64px;
  padding-bottom: 80px;
  margin: auto;

  &__beg {
    padding-right: 35px;
  }

  &__end {
    padding-left: 35px;
  }

  &__boxHolder {
    display: flex;
  }
}
