.Info {
  &__infoLabel {
    // TODO: move to css var, I know we didn't have time for that on the workshop, but still :)
    color: #9b9cab;
    margin: 0;
  }

  &__infoValue {
    margin: 0;
    margin-bottom: 16px;
  }
}
