.Header {
  display: flex;
  padding-left: 120px;
  &__logo {
    width: 190px;
    height: 56px;
    padding-top: 20px;
    padding-right: 130px;
  }
  &__quotes {
    font-size: 200%;
    font-weight: bold;
  }
}
