.Box {
  width: 32px;
  height: 32px;
  left: 664px;
  top: 1167px;

  background: #2a2a42;
  border-radius: 8px;

  &__number {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: white;
  }
}
